.home-nav-div {
  background-image: url("./images/beer_photo.jpg");
  background-size: 25vw;
  display: flex;
  width: 25vw;
  height: 30vh;
  align-items: center;
  justify-content: center;
  transition: 0.3s
}

.home-nav-div:hover {
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2)
}

.home-nav-button {
    border: 2px white solid;
    background-color: rgba(0, 0, 0, .5);
    padding: 0 4px 0 4px;
}
